*{
    margin: 0;
    padding : 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FCEC52;

}

.container {
    background-color: #73b9cf;
    padding : 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh
}

form{
    margin: 2rem 0 1rem 0;
}
form select, button, input{
    width : 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 2px solid rgb(94, 135, 148);
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem; 
}

.dropdown {
    display : flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.3rem;
    margin-top: 1rem;
}


.select-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius : 0.5rem;
    border: 2px solid rgb(42, 103, 123);
    width: 7rem;
    background-color: darkcyan;
    padding : 0.1rem;
}

.select-cont img{
    font-size : 2rem;
}

.select-cont select{
    font-size : 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button {
    height : 3rem;
    background-color:gold ;
    color :rgb(25, 31, 3);
    font-size: 1.1rem;
    cursor: pointer;
}

